<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <title>Document</title>
  {%load static%}
  <link rel="stylesheet" href="{%static 'create.css' %}">
</head>

<body>
  <header>
    <div className="top-menu">
      <h1 className="title">Announcements Web</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/announcements/public">Public List</a></li>
        {% if user.is_authenticated %}
        <li>
          <a href="/announcements/local">Local List</a>
        </li>
        <li>
          <a href="/announcements/user">User List</a>
        </li>
        <li>
          <a href="/announcements/create">Create</a>
        </li>
        {% endif %}


        {% if user.is_authenticated %}
        <li className="access side dropdown">
          <a className="nav-link dropdown-toggle action_link" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Actions
          </a>
          <div className="dropdown-menu" aria-labelledby="navbarDropdown">
            <a className="dropdown-item logout" href="/logout">Logout</a>
          </div>
        </li>
        {% else %}
        <li className="access side"><a href="/login">Log In</a></li>
        <li className="access"><a href="/register">Register</a></li>
        {% endif %}


      </ul>
    </div>
  </header>
  <main>
    <div className="block"></div>
    <div className="form_container">
      <form id="create-form">
        {% csrf_token %}
        <h2 className="form_title">Create Announcement</h2>
        <label htmlFor="subject">Subject</label>
        <input type="text" id="subject" name="subject">
        <label htmlFor="title">Title</label>
        <input type="text" id="title" name="title">
        <label htmlFor="content">Content</label>
        <textarea name="content" cols="40" rows="10" required="" id="id_content" style="height: 101px;"></textarea>
        <label htmlFor="content">Access</label>
        <select name="access" id="id_access">
          <option value="public" selected="">Public</option>
          <option value="local">Local</option>
        </select>
        <input type="submit" value="Create Announcement">
      </form>
      <img src="../static/img/create_announcement.jpg" className="registration-img">
    </div>
    <span className="pencil">✎</span>
    <span className="message"></span>
    <span className="horn">📢</span>
  </main>
</body>
<script src="{%static 'create.js'%}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
  </script>

</html>