<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style_2.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <title>Document</title>
  {%load static%}
  <link rel="stylesheet" href="{%static 'registration.css' %}">
</head>

<body>
  <header>
    <div className="top-menu">
      <h1 className="title">Announcements Web</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/announcements/public">Public List</a></li>
        {% if user.is_authenticated %}
        <li>
          <a href="/announcements/local">Local List</a>
        </li>
        <li>
          <a href="/announcements/user">User List</a>
        </li>
        <li>
          <a href="/announcements/create">Create</a>
        </li>
        {% endif %}


        {% if user.is_authenticated %}
        <li className="access side dropdown">
          <a className="nav-link dropdown-toggle action_link" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Actions
          </a>
          <div className="dropdown-menu" aria-labelledby="navbarDropdown">
            <a className="dropdown-item logout" href="/logout">Logout</a>
          </div>
        </li>
        {% else %}
        <li className="access side"><a href="/login">Log In</a></li>
        <li className="access"><a href="/register">Register</a></li>
        {% endif %}


      </ul>
    </div>
  </header>
  <main>
    <div className="block"></div>
    <div className="form_container">
      <form id="registration-form">
        {% csrf_token %}
        <h2 className="form_title">Register</h2>
        <label htmlFor="fname">User name</label>
        <input type="text" id="fname" name="username">
        <label htmlFor="password1">Password</label>
        <input type="password" id="password1" name="password1">
        <label htmlFor="password2">Password</label>
        <input type="password" id="password2" name="password2">
        <label htmlFor="location">Location</label>
        <input type="text" id="location" name="location">
        <input type="submit" value="Register">
      </form>
      <img src="../static/img/registration.jpg" className="registration-img">
    </div>
    <span className="frame"></span>
    <span className="message"></span>
    <span className="spiral">𖦹</span>
  </main>
  <script src="{%static 'register.js'%}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
</body>

</html>